
body{
    background-color: #FEF5E7;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #EDBB99;

}
header h1{
text-align: end;
width: 40%;

}
.menu{
display: flex;
align-items: center;
width: 60%;
}
.menu>ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 1.3em;
    padding: 5px;
    width: 100%;
}
.menu li{
    margin: 0 20px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    color: rgb(206, 13, 13);
}

.content{
    display: flex;
    padding: 1% 5%;
}

.side{
    display: flex;
    width: 50%;
}
.side.left{
    flex-direction: column;
}
.left_top{
    display: flex;
}
.left_down{
    display: flex;
    justify-content: center;
    background-color: #EDBB99;
}
.left_down img{
    width: 100%;
    max-width: 600px;
 
}
.part{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part:nth-child(even){
    background-color: #FAE5D3;

}
footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #E59866;
}
.part p,ol{
    width: 100%;
}