
body{
    /* background-color: #FEF5E7; */
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #EDBB99;

}
header h1{
text-align: end;
width: 40%;

}
.menu{
display: flex;
align-items: center;
width: 60%;
}
.menu>ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 1.3em;
    padding: 5px;
    width: 100%;
}
.menu li{
    margin: 0 20px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    color: rgb(206, 13, 13);
}

.content{
    display: flex;
    padding: 0;
    width: 100%;
}

.side{
    display: flex;
    width: 50%;
}
.side.left{
    flex-direction: column;
    justify-content: space-between;
}
.left_top{
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}
.left_top .part{
width: 50%;
}
.left_top .part:nth-child(1){
    margin-right:40px ;
}

.left_down{
    display: flex;
    justify-content: center;
    background-color: #EDBB99;
    min-height: 300px;
}
.left_down img{
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    
}
.right .part:nth-child(1){
    margin: 0 40px;
}
.part{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.part:nth-child(even){
    background-color: #FAE5D3;
    
}
.part:nth-child(odd){
    background-color:#FEF5E7;
}
footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #E59866;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part p,ol{
    width: 100%;
}