body{
    background-color: #FEF5E7;
}
header{
    padding: 2% 10%;
    background-color: #EDBB99;
}
header h1{
    display: inline;
    text-align: end;
    width: 40%;
    padding: 35px 0;
}
header table td{
    min-width: 80px;
    text-align: center;
}
header table td:nth-child(7){
    width: 40%;
    text-align: end;
}
header table tr, tbody{
    display: block;
    width: 100%;
}
header table{
    width: 100%;
}
.empty{
    width: 30%;
}
header table td a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
header table td a:hover{
    color: rgb(206, 13, 13);
}
.maint p{
    display: inline-block;
}
.maint{
    display: block;
    width: 100%;
    padding: 0 5%;
}
.maint tr{
    width: 100%;
}
.maint td{
    padding: 1% 2%;
    width: 25%;
}
.maint td:nth-child(odd){
background-color: #E59866;
}


.maint td.img_td{
    background-color: #EDBB99;
 }
.left_down{
    background-color: #EDBB99;
}
.left_down img{
    width: 100%;
    max-width: 600px;
}
footer{
    width: 90%;
    padding: 20px 5%;
    background-color: #E59866;
}
footer h2,p{
    display: inline;
}
footer table{
    display: block;
    width: 100%;
}

footer table tr, tbody{
    display: block;
    width: 100%;
}
footer table td{
    display: inline-block;
    width: 33%;
}
footer table td{
    text-align: end;
}