
header{
    padding: 0 5%;
    background-color: #EDBB99;
    display: grid;
    grid-template-columns: 50% 50%;
}
header h1{
    text-align: end;
}
.menu{
    display: grid;
    align-content: center;
}
.menu>ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0;
    font-size: 1.3em;
    padding: 5px;
    width: 100%;
}
.menu li{
    margin: 0 20px;
    list-style: none;
}
.menu li a{
    text-decoration: none; 
    color: black;
}
.menu li a:hover{
    color: rgb(206, 13, 13);
}

.content{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: max-content 300px;
    width: 100%;
}
.content *{
    justify-self: center;
}


.left_down{
    background-color: #EDBB99;
    grid-column: span 2;
    width: 100%;
    height: 100%;

    display: grid;
    justify-self: center;
    /* max-height: 600px; */

}
.left_down img{
     width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: contain;
    
}
.part{
    padding: 10px;
}
.part:nth-child(1){
    margin: 0 20px 0 0;
}
.part:nth-child(2){
    margin: 0  0 0 20px;
}
.part:nth-child(3){
    margin: 0  0 0 40px;
}
.part:nth-child(4){
    margin: 0  0 0 40px;
}
.part img{
    width: 100%;
}
.part:nth-child(even){
    background-color: #FAE5D3;

}
.part:nth-child(odd){
    background-color: #FEF5E7;
}
.part.right{
    grid-row: span 2;
    
}

footer{

    display: grid;
    width: 90%;
    padding: 20px 5%;
    background-color: #E59866;
    grid-template-columns: 50% 50%; 
}
footer p{
    text-align: end;
    margin: auto 0;
}
.part p,ol{
    width: 100%;
}